.products-list-page.mod-products-list-page-5 {
  max-width: $pageWidth;
  width: 100%;
  margin: 0 auto 30px;
  @import "../../../_common/toysrwd/scss/_product_tile.scss";
  @import "../private/scss/_utils_1.scss";
  @import "../../../_common/toysrwd/scss/_list_options_1.scss";
  @import "../private/scss/_column_left_1.scss";
  @import "../private/scss/_top_parameters.scss";

  .row > .col-xs-12 > .row {
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (max-width: 1000px) {
  .products-list-page.mod-products-list-page-5 {
    & .list-options {
      @import "../../../_common/toysrwd/scss/_pagination_mobile.scss";
    }
  }
}

@media all and (max-width: 767px) {
  .products-list-page.mod-products-list-page-5 {
    & .category-description {
      &.descriptionHidden{
        display: none; 
      }
    }
  }
}

@media all and (max-width: 480px) {
  .products-list-page.mod-products-list-page-5 {
    @import "../../_common/scss/list_options_1_rwd.scss";
  }
}


@media all and (min-width: 361px) {
  .products-list-page.mod-products-list-page-5 {
    .product-tile {
      .product-desc {
        .product-price {
          .price-special {
            font-size: 13px;
          }
          .price-normal.discount {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media(min-width: 357px) {
  .products-list-page.mod-products-list-page-5 {
    & .product-tile {
      & .product-img { 
        & .product-actions {
          & .product-tile-icon-wrapper {
            .product-tile-icon {
              & .fa.fa-shopping-basket {
                & span {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}