.logins.mod-logins-1 {
  max-width: $pageWidth;
	width: 100%;
	margin: 0 auto;
  padding: 25px 0;
  & .heading {
    margin-bottom: 0;
  }
  & .section-desc {
    & strong {
      font-size: 16px;
    }
  }
  & .section-form {
    & .title-section {
      padding: 5px 0;
      font-weight: 500;
      display: inline-block;
    }
    & .input-field {
      margin: 0;
    }
    & .checkbox-field {
      padding: 3px 0 3px;
      margin-bottom: 3px;
      background: #fff;
      z-index: 1;
    }
  }

  & .title-section {
      padding: 5px 0;
      font-weight: 500;
      display: inline-block;
      flex-grow: 1;
      min-width: 110px;
      margin-right: 15px;
  }


  .label-input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
  }
  .input-wrapper {
    flex: 3 100%;
  }
}