.footer-rights {
  padding: 30px 0;
  margin-top: -5px;
  color: $footerTextColor;
  &:before {
    content: '';
    width: 100vw;
    left: 50%;
    top: 0;
    height: 100%;
    @include transform(translateX(-50%));
    background-color: $headerFooterColor;
    position: absolute;
    z-index: -1;
  }
}
