@import "../_common/scss/_cookies.scss";

#header.mod-header-6 {
	max-width: $pageWidth;
	width: 100%;
	margin: 0 auto;
	z-index: 15;
	position: relative;
	@import "../_common/scss/_top_bar_1.scss";
	@import "../_common/scss/_mobile_search.scss";
	& .sub-header {
		display: inline-block;
		width: 100%;
		padding: 35px 0;
		position: relative;
		& .logo {
			display: inline-block;
			padding: 0 15px;
			max-width: 33%;
			& h1 {
				margin: 0;
				font-size: inherit;
			}
			& img{
				max-width: 300px;
				max-height: 300px;
			}
		}
		@import "../_common/scss/_search_inline.scss";
		@import "../_common/scss/_sub_header_quick_cart_1.scss";
		@import "../_common/scss/_mobile_actions.scss";
	}
	& .menu {
		display: inline-block;
		position: relative;
		width: 100%;
		background: $backgroundColorTopMenu;
    padding-top: 11px;
		top: 5px;
		@include opacity(1);
		@include transition(opacity 0.05s ease-in-out);
		&.menu-calculate {
			max-height: 43px;
			overflow: hidden;
			@include opacity(0);
			@include transition(opacity 0.05s ease-in-out);
		}
		& ul {
			list-style: none;
			margin: 0;
			padding: 0;
			& li {
				float: left;
				position: relative;
				padding-bottom: 10px;
				& a {
			    line-height: 22px;
			    font-weight: 500;
			    font-size: 16px;
			    text-decoration: none;
			    padding: 10px 15px;
			    color: $fontColor;
			    cursor: pointer;
			    & .fa {
			    	font-size: 10px;
			    	position: relative;
			    	top: -2px;
						&.fa-bars {
			    		font-size: 16px;
			    		top: 0;
			    	}
			    }
				}
				@import "../_common/scss/_menu_dropdown_1.scss";
				&:hover {
		    	& a {
			    	color: $topMenuTextColorHover;
		    	}
					&:not(.click) {
						& .dropdown {
							@include opacity(1);
					    @include transition(all 0.2s ease-in-out 0.2s);
					    @include transform(translateY(0));
					    pointer-events: auto;
							visibility: visible;
					    z-index: 2;
						}
					}
		    }
				@import "../_common/scss/_menu_dropdown_click_2.scss";
		    @import "../_common/scss/_menu_dropdown_single_1.scss";
				@import "../_common/scss/_menu_dropdown_full_2.scss";
				@import "../_common/scss/_hamburger_dropdown_1.scss";
				&.hamburger {
					float: right;
				}
		    &.full-width {
		    	&:hover {
		    		& .dropdown {
		    			z-index: 3;
		    		}
		    	}
		    }
				&.vertical-menu {
					background: $mainColor;
					width: 25%;
					text-align: center;
					&:before {
						content: '';
						position: absolute;
				    display: block;
				    bottom: 100%;
				    width: 100%;
				    height: 11px;
						background: $mainColor;
					}
					& > a {
						color: $topMenuTextColor;
						& > .fa {
							font-size: 16px;
							margin: 0 10px 0 0;
							top: 0;
						}
					}
					&:hover {
						& > a {
							color: $topMenuTextColorHover;
							&.disabled {
								color: $topMenuTextColor;
								cursor: default;
							}
						}
					}
				}
			}
		}
		& > ul {
			& > li {
				& > a {
					color: $topMenuTextColor;
					&:hover {
						color: $topMenuTextColorHover;
					}
				}
			}
		}
	}
	& .header-bottom {
		margin: 0 0 30px;
		& > .container-fluid {
			& > .row {
				position: relative;
				& > div[class*="col-"] {
					&:first-of-type {
						position: static;
					}
					&:last-of-type {
						padding: 0;
					}
				}
			}
		}
		& .vertical-menu {
			height: 450px;
			overflow: hidden;
			margin: 0 -15px;
			& .vertical-menu-content {
				border-top: 0;
				background: $backgroundColorTopMenu;
				padding: 5px 0;
				height: 450px;
				& > ul {
					list-style: none;
					margin: 0;
					padding: 0;
					& > li {
						height: 31px;
						margin: 5px 0;
						padding: 0 15px;
						& > a {
							display: inline-block;
							width: 100%;
							height: 100%;
							line-height: 31px;
							font-size: 16px;
							font-weight: 500;
							color: $fontColor;
							position: relative;
							text-decoration: none;
							z-index: 1;
							cursor: default;
							&[href] {
								cursor: pointer;
							}
							& span {
								position: relative;
								z-index: 1;
								white-space: nowrap;
						    overflow: hidden;
						    text-overflow: ellipsis;
						    max-width: 100%;
						    display: inline-block;
							}
						}
						& .sub-categories {
							display: none;
							position: absolute;
							top: 0;
							right: 0;
							left: 25%;
							margin-left: -1px;
							background: $primaryColor;
							border-left: 1px solid $additionalColor;
							border-top: 0;
							@include box-shadow(0 1px 3px rgba(0,0,0,2/10));
							&.items-col {
								&-1 {
									right: 50%;
								}
								&-2 {
									right: 25%;
								}
								&-3 {
									right: 0;
								}
							}
							& .sub-categories-content {
								position: relative;
						    z-index: 2;
						    background: $primaryColor;
						    min-height: 450px;
						    padding: 5px 15px;
								border: 1px solid $additionalColor;
								border-left: 0;
								border-top: 0;
								& .cat-title {
									padding: 15px 15px 0;
									display: inline-block;
									& > a {
										padding: 0;
								    color: $fontColor;
								    display: inline-block;
								    width: 100%;
										line-height: 22px;
								    font-weight: 500;
								    font-size: 16px;
								    text-decoration: none;
										&:hover {
											color: $mainColor;
										}
									}
								}
								& ul {
									list-style: none;
									margin: 0;
									padding: 5px 0 0;
							    display: inline-block;
							    width: 100%;
									& li {
										display: block;
								    width: 100%;
								    padding: 5px 15px;
										float: left;
								    position: relative;
										& a {
											font-size: 14px;
									    color: $fontColor;
									    padding: 0;
									    font-weight: 400;
									    display: inline-block;
									    width: 100%;
									    cursor: pointer;
											text-decoration: none;
											&:hover {
												color: $mainColor;
											}
										}
									}
								}
							}
						}
						&:hover {
							& > a {
								color: $mainColor;
								&:before {
									content: '';
									position: absolute;
									top: -5px;
									right: -15px;
									bottom: -5px;
									left: -15px;
									border-right: 0;
									background: $primaryColor;
								}
							}
							& .sub-categories {
								display: block;
							}
						}
					}
				}
				& .show-more {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 25%;
					height: 40px;
					line-height: 40px;
					text-align: center;
					background: $additionalColor;
					z-index: 2;
				}
			}
			&:hover {
				overflow: inherit;
				& .vertical-menu-content {
					height: auto;
					min-height: 450px;
					bottom: inherit;
					& .show-more {
						display: none;
					}
				}
			}
		}
		& .slider {
			width: 100%;
			height: 450px;
			& .carousel {
		    opacity: 0;
		    height: 450px;
				z-index: 0;
		    & .item {
		      height: 450px;
		      overflow: hidden;
		      @import "../../sliders/_common/scss/_slide_img_1.scss";
		    }
		    @import "../../sliders/_common/scss/_controls_1.scss";
		  }
		}
		&.slide-down {
			margin: 0;
			& > .container-fluid {
				& > .row {
					& > div[class*="col-"] {
						&:first-of-type {
							position: absolute;
					    padding: 0;
					    width: 100%;
							height: auto;
					    max-height: 0;
					    overflow: inherit;
							visibility: hidden;
							@include opacity(0);
							-webkit-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
							-moz-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
							-ms-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
							-o-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
							transition: visibility 0s linear 0.2s, opacity 0.2s linear;
						}
					}
				}
			}
			& .vertical-menu {
				margin-left: 0;
				width: 25%;
			}
			&.open {
				& > .container-fluid {
					& > .row {
						& > div[class*="col-"] {
							&:first-of-type {
								max-height: 5000px;
								visibility:visible;
								@include opacity(1);
								-webkit-transition-delay: 0s;
								-moz-transition-delay: 0s;
								-ms-transition-delay: 0s;
								-o-transition-delay: 0s;
								transition-delay: 0s;
							}
						}
					}
				}
			}
		}
	}
}

@media all and (max-width: 992px) {
	#header.mod-header-6 {
		& .top-bar {
			& .pull-left {
				& ul {
			    & li {
						&[data-type="email"] {
							display: none;
						}
						&[data-type="phone"] {
							&:after {
								display: none;
							}
							& a {
								width: 15px;
						    height: 16px;
						    overflow: hidden;
						    display: inline-block;
							}
						}
					}
				}
			}
		}
		& .sub-header {
			& .logo {
				& img {
					max-width: 100%;
				}
			}
		}
		& .menu {
			& ul {
				& li {
					&.vertical-menu {
						& .fa {
							display: none;
						}
					}
				}
			}
		}
	}
}

@media all and (max-width: 767px) {
	#header.mod-header-6 {
		& .mobile-search {
			display: block;
		}
		@import "../_common/scss/_top_bar_rwd_1.scss";
		@import "../_common/scss/_sub_header_rwd_2.scss";
		& .menu, & .header-bottom {
			display: none;
		}
	}

	@import "../_common/scss/_mobile_menu_1.scss";

	.swipe-panel {
	  & .swipe-panel-content.quick-cart {
			& .dropdown {
				@import "../_common/scss/_dropdown_quick_cart_1.scss";
				min-width: 0 !important;
			}
		}
	}
}
